.headerOptions {
    float: right;
}

.noBorder {
    border: none;
    background-color: white;
}

.alignTitle {
    text-align: center;
    position: absolute;
    left: 44%;
    top: 1%;
    font-weight: bold;
    font-size: 18px;
}