<app-app-header *ngIf="loginService.isLogin()"></app-app-header>
<mat-drawer-container class="example-container">
    <mat-drawer *ngIf="loginService.isLogin()" mode="side" opened>
        <app-left-nav></app-left-nav>
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center; font-weight: bold;">{{state.componentTitle}}</div>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>

<mat-spinner class="spinner" *ngIf="appService.showSpinner" style="margin:0 auto;"></mat-spinner>
